# R for travis: see documentation at https://docs.travis-ci.com/user/languages/r

language: R
cache: packages

addons:
  apt:
    packages:
    - libcurl4-openssl-dev
    - libxml2-dev
    - libssh-dev